@import '/src/App.scss';

.about-page
{
    @include fade-in('1000ms');
    .text
    {
        position: absolute;
        left: 10%;
        top: 11%;
        width: 45%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
        margin-top: 3%;
        p
        {
            font-size: 18px;
            font-family: "Consolas";
            color: #0096FF;
            margin-top: 3%;
            margin-bottom: 3%;
            min-width: fit-content;
        }
    }
    .wrapper {
        width: 100%;
        perspective: 800;
      }
      
      .cube {
        position: absolute;
        top: 30%;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        left: 70%;
        animation : spin 10s infinite linear;
        transform-style: preserve-3d;

        div {
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid #ccc;
            background: rgba(196, 196, 196, 0.4);
            text-align: center;
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px 0px lightyellow;
          }

      }
      
      @keyframes spin {
        from { transform: rotateY(0) rotateX(0); }
        to   { transform: rotateY(-360deg) rotateX(360deg); }
      }
      
      .cube > div {
        position: absolute;
        height: 200px;
        width: 200px;
      }
      
      .one { 
        transform: rotateX(90deg) translateZ(100px);
        opacity: 0.8;
      }
      
      .two { 
        transform: translateZ(100px); 
      }
      
      .three { 
        transform: rotateY(90deg) translateZ(100px);
        color: #FEB300;
      }
      
      .four { 
        transform: rotateY(180deg) translateZ(100px); 
      }
      
      .five { 
        transform: rotateY(-90deg) translateZ(100px); 
      }
      
      .six { 
        transform: rotateX(-90deg) translateZ(100px); 
        color: #161614;
      }
    
}